<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ShiyanyuyueMapper">
  <resultMap id="BaseResultMap" type="com.entity.Shiyanyuyue">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="xiangmubianhao" jdbcType="VARCHAR" property="xiangmubianhao" />    <result column="shiyanmingcheng" jdbcType="VARCHAR" property="shiyanmingcheng" />    <result column="shiyanshijian" jdbcType="VARCHAR" property="shiyanshijian" />    <result column="zhidaolaoshi" jdbcType="VARCHAR" property="zhidaolaoshi" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    <result column="xuehao" jdbcType="VARCHAR" property="xuehao" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, xiangmubianhao,shiyanmingcheng,shiyanshijian,zhidaolaoshi,beizhu,xuehao,xingming,issh, addtime
  </sql>
  <select id="quchongShiyanyuyue"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from shiyanyuyue 
    where xuehao = #{xuehao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from shiyanyuyue  where 1=1
    <if test="xiangmubianhao!=null">and xiangmubianhao like  concat('%',#{xiangmubianhao,jdbcType=VARCHAR},'%')</if>     <if test="shiyanmingcheng!=null">and shiyanmingcheng like  concat('%',#{shiyanmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shiyanshijian!=null">and shiyanshijian like  concat('%',#{shiyanshijian,jdbcType=VARCHAR},'%')</if>     <if test="zhidaolaoshi!=null">and zhidaolaoshi like  concat('%',#{zhidaolaoshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     <if test="xuehao!=null">and xuehao like  concat('%',#{xuehao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shiyanyuyue  where 1=1
    <if test="xuehao!=null">
    and xuehao =#{xuehao}
    </if>
  </select>
  
  <select id="getsyshiyanyuyue1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shiyanyuyue  where 1=1
    limit 0,5
  </select>
  <select id="getsyshiyanyuyue2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shiyanyuyue  where 1=1
    limit 0,5
  </select>
  <select id="getsyshiyanyuyue3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shiyanyuyue  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from shiyanyuyue where 1=1 
     <if test="xiangmubianhao!=null">and xiangmubianhao like  concat('%',#{xiangmubianhao,jdbcType=VARCHAR},'%')</if>     <if test="shiyanmingcheng!=null">and shiyanmingcheng like  concat('%',#{shiyanmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shiyanshijian!=null">and shiyanshijian like  concat('%',#{shiyanshijian,jdbcType=VARCHAR},'%')</if>     <if test="zhidaolaoshi!=null">and zhidaolaoshi like  concat('%',#{zhidaolaoshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     <if test="xuehao!=null">and xuehao like  concat('%',#{xuehao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shiyanyuyue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shiyanyuyue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Shiyanyuyue">
    insert into shiyanyuyue (id, xiangmubianhao,shiyanmingcheng,shiyanshijian,zhidaolaoshi,beizhu,xuehao,xingming, addtime)
    values (#{id,jdbcType=INTEGER}, #{xiangmubianhao,jdbcType=VARCHAR},#{shiyanmingcheng,jdbcType=VARCHAR},#{shiyanshijian,jdbcType=VARCHAR},#{zhidaolaoshi,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR},#{xuehao,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shiyanyuyue">
    insert into shiyanyuyue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="xiangmubianhao != null"> xiangmubianhao, </if>      <if test="shiyanmingcheng != null"> shiyanmingcheng, </if>      <if test="shiyanshijian != null"> shiyanshijian, </if>      <if test="zhidaolaoshi != null"> zhidaolaoshi, </if>      <if test="beizhu != null"> beizhu, </if>      <if test="xuehao != null"> xuehao, </if>      <if test="xingming != null"> xingming, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="xiangmubianhao != null"> #{xiangmubianhao,jdbcType=VARCHAR},</if>      <if test="shiyanmingcheng != null"> #{shiyanmingcheng,jdbcType=VARCHAR},</if>      <if test="shiyanshijian != null"> #{shiyanshijian,jdbcType=VARCHAR},</if>      <if test="zhidaolaoshi != null"> #{zhidaolaoshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      <if test="xuehao != null"> #{xuehao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shiyanyuyue">
    update shiyanyuyue
    <set>
	  <if test="xiangmubianhao != null"> xiangmubianhao = #{xiangmubianhao,jdbcType=VARCHAR},</if>      <if test="shiyanmingcheng != null"> shiyanmingcheng = #{shiyanmingcheng,jdbcType=VARCHAR},</if>      <if test="shiyanshijian != null"> shiyanshijian = #{shiyanshijian,jdbcType=VARCHAR},</if>      <if test="zhidaolaoshi != null"> zhidaolaoshi = #{zhidaolaoshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      <if test="xuehao != null"> xuehao = #{xuehao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Shiyanyuyue">
    update shiyanyuyue
    set xiangmubianhao = #{xiangmubianhao,jdbcType=VARCHAR},shiyanmingcheng = #{shiyanmingcheng,jdbcType=VARCHAR},shiyanshijian = #{shiyanshijian,jdbcType=VARCHAR},zhidaolaoshi = #{zhidaolaoshi,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},xuehao = #{xuehao,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
